/* src/styles/MessageInput.module.css */
.inputForm {
    display: flex;
    padding: 8px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
  }
  
  .inputField {
    flex-grow: 1;
    border: none;
    padding: 8px;
    padding-right: 20px;
    border-radius: 4px;
    margin-right: 8px;
    outline: none;
    font-size: 14px;
  }
  
  .sendButton {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 650px;
  }
  
  .sendButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    margin: 200px;
  }

  
